.header {
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding: 25px;
  background-color: white;
}
.hamburgerMenu {
  position: fixed !important;
  font-size: 40px;
  top: -74px;
  background-color: #e66800;
  width: 100%;
  height: 135%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  animation-name: hideAndShow;
  animation-iteration-count: 1;
  animation-duration: 500ms;
}

@keyframes hideAndShow {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: initial;
    opacity: 1;
  }
}
.hamburgerMenu > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.headerContainer{
    width: 100%;
  }
.transparent {
  background-color: white;
}
@media screen and (max-width: 1321px) {
  .transparent {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
  }
  .headerContainer {
    position: absolute;
    top: 0;
  }
  .header {
    background-color: #ffc13b;
    padding: 20px;
    height: auto;
  }
  
  .headerContainer {
    position: absolute;
    top:0;
    
    }
    
    .header div:nth-child(2) > a {
        display: none;
      }
}
@media screen and (max-width: 876px) {
  .header div > a {
    display: none;
  }
}
