.navLink {
    padding-right: 30px;
    font-family: "Open Sans", sans-serif;
    padding: 15px;
  }
  
  
  @media screen and (max-width: 1321px) {
    
    .navLink {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 876px) {
    .nameRestaurant {
      display: initial !important;
    }
  }