.form{
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0 0 14px 0px  black;
  justify-content: center;
  align-items: center;
  border-radius: 17px ;
  padding-bottom: 20px;
}
