.footer{
  display: flex;
  justify-content:space-between;
  background-color: #ffcd61;
  text-align: center;
  font-size: x-small;
  padding: 0px 65px;
  color: rgb(0, 0, 0);
}
.title{
  color: rgb(187, 0, 0);
  padding-right: 10px;
}
@media screen and (max-width: 606px) {
  .footer{
    flex-direction: column;
    padding: 5px;
    font-size: x-small;
;
  }
  .item{
    margin: 5px;
  }
}
